kube-prometheus-stack:
  grafana:
    adminPassword: "admin"
    service:
      type: NodePort

  prometheus:
    prometheusSpec:
      retention: 5d

  # NOTICE: This is now indented to match 'grafana' and 'prometheus' above
  nodeExporter:
    hostRootFsMount:
      enabled: false
